# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE / system
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Training outputs
*runs*/
*outputs/
*output/
results/
checkpoints/
weights/
wandb/
*docs/
*doc/
*visualizations/
*visualization/


# Model files
*.pt
*.pth
*.onnx
*.ckpt

# Data
data/
datasets/
*.npy
*.npz
